.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#appliance-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#appliance-table th, #appliance-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.appliance-input { /* Specific styles for appliance input fields */
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.next-button-container{
text-align: center;
}
button {
  padding: 10px 20px;
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff9800;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.footer {
  background-color: #4c4d4c;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer-columns {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}

.footer-content {
  margin-bottom: 10px;
}

.footer h4 {
  margin: 10px 0;
}

.footer h5 {
  margin: 5px 0;
}
